.btn {
  background: #96db96;
  padding: 4px 12px;
  border: none;
  color: #030303;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
  outline: none;
}

.selected {
  background: #53a353;
}
